{% extends 'base.html' %}
{% block content %}
<form method="post" class="buttons">

    {% if error %}
    <div class="error">
        <p>{{error}}</p>
    </div>
    {% endif %}
    <h3 class="title">Chat App</h3>
    <div>
        <label>Username:</label>
        <input type="text" placeholder="Enter a username" name="username" value="{{username}}"/>
    </div>
    
    <button type="submit" name="create">Create a Room</button>

    <div id="joinRoomModal">
        <label for="roomCode">Room Code:</label>
        <input type="text" id="roomCode" placeholder="Enter room code" name="code" value="{{code}}">
        <button type="button" onclick="joinRoom()">Join Room</button>
    </div>

    <div id="overlay">
        
    </div>

    <button type="button" onclick="showJoinModal()">Join a Room</button>
    <p class="credits"><i>Chat app to communicate with friends</i></p>
</form>
<script>
    function showJoinModal() {
        document.getElementById('joinRoomModal').style.display = 'block';
        document.getElementById('overlay').style.display = 'block';
    }

    function joinRoom() {
        document.querySelector('form').submit();
    }

    document.getElementById('overlay').onclick = function() {
        this.style.display = 'none';
        document.getElementById('joinRoomModal').style.display = 'none';
    }
</script>
{% endblock %}
